/* FUENTES */

@font-face{
    font-family: "code";
    src: url(./fonts/SourceCodePro-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "indie";
    src: url(./fonts/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "websymbolsRegular";
        src: url(./fonts/websymbols-regular-webfont.eot);
        src: url(./fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(./fonts/websymbols-regular-webfont.woff) format("woff"),
        url(./fonts/websymbols-regular-webfont.ttf) format("truetype"),
        url(./fonts/websymbols-regular-webfont.ttf) format("truetype"),
        url(./fonts/websymbols-regular-webfont.svg#websymbolsRegular) format("svg");
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.lateral{
    background-color: #EBEDEF;
    height: 100vh;
}
.principal{
    background-color:#282923;
    height: auto;
}

.barra{
    background-color: #6D6E6A;
    height: 50px;
}
.pesta単a2{
   background-color: #6D6E6A;
  height: 50px;
  
}
.pesta単aclara{
    background-color: #42433E;
    height: 50px;
}
.pesta単a h2{
    color: white;
    font-family: code;
    font-size: 18px;
    line-height: 50px;
}
.pesta単aclara h2{
    color: white;
    font-family: code;
    font-size: 18px;
    line-height: 50px;
    opacity: 0.4;
}
#contenido p{
    color: white;
}
.container h1{
    font-family: code;
    
}
#menu{
    margin-top: 40px;
}
#menu a{
    font-family: code;
    color: black;
    margin-left: 15px;
    text-decoration: none;
}

#menu  li{
list-style: none;
margin-top: 30px;
align-items: center;
justify-content: center;
}
.iconos_lateral{
    width: 20px;
    height: 15px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.icon{
    font-family: websymbolsRegular;
    position: relative;
    color: white;
    margin-top: -42px;
    margin-left: 139px;
    font-size: 12px;
}
.icon2{
    font-family: websymbolsRegular;
    position: relative;
    text-align: center;
    line-height: 50px;
    color: #C4C5C3;
}
.icon3{
    font-family: websymbolsRegular;
    position: relative;
    color: white;
    margin-top: -42px;
    margin-left: 139px;
    font-size: 12px;
    opacity: 0.4;
}
.iconlateral{
    font-family: websymbolsRegular;
    position: relative;
    color: #A4A5A7;
    display: contents;
}

#contenido{
   background-image: url(./img/imgPrincipal-optimizada.jpg); 
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-top: 40px; 
}
#info-personal{
 
    height: auto;
    margin-top: 50px;
   
  
}
.barra_numeros{
height: auto;
width: 30px;
background-color:#282923;
color: #90918B;
}
.barra_numeros ul{
    list-style: none;
}
.dos{
height: auto;
background-color:#282923;

}
#todo{
    height: auto;
    background-color:#282923;
}

.blu{
    margin: 0px auto;
    text-align: center;
    margin-top: 300px;
    align-items: center;
    font-family: code;
    color: white;
 
}
.blu2{
   
        margin: 0px auto;
        text-align: center;
        margin-top: 10px;
        align-items: center;
        font-family: code;
        color: white;
   
  }
.blu h1{
    font-size: 30px;
   
}
.blu2 h1{
    font-size: 30px;
    position: relative;
}
.blu2 h1 span{
    
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid white;
    background: black;
  /*   background-image: url(./img/imgPrincipal-min.jpg); */
    animation:maquina 3s infinite alternate steps(11);
}
@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
.escritura{
    position: relative; 
}
.escritura span{
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid white;
    background: #282923;
    animation:maquina 3s infinite alternate steps(42);
}
@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
.code1 h2{
    color: white;
    font-size: 16px;
    opacity: 0.2;
    font-weight: lighter;
}
.circulo>img{
    width: 300px;
    height: 340px;
    border-radius: 50%;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid #A6E22E;
    padding: 4px;
   
}
.personal{
    height: auto;
    text-align: center !important;
}
.infopersonal{
    height: auto;
    color: white;
    margin: 0px auto;
    margin-top: 20px;
    font-family: code;
 
}
.hi{
    color: #EC2658;
    margin-top: 30px;
}
.parrafo2info{
    margin-top: 24px;
   
}
.parrafo3info{
    margin-top: 23px;
}
#conocimientos{
    margin-top: 98px;
    height: auto;
}
.tecnologias img{
   text-align: center;
   margin: 0px auto;
   width: 100%;
   height: 100%;
  
}
.tecnologias2 img{
    width: 95%;
    height: 95%;
    margin: 0px auto;
   
}
.tecnologiasReact{
    width: 90%;
    height: 90%;
    margin: 0px auto;
    margin-top: 5px;
   
}
.card:hover{
    box-shadow: 0 0 10px #EC2658;
}
 .tecnologias img:hover,
.tecnologias2 img:hover,
.tecnologiasReact img:hover{
    box-shadow: 0 0 10px #EC2658;
    transition: all 200ms ease-in;
} 

.titulos_conocimientos{
    color: white;
    font-family: code;
    font-size: 25px;
 
}
.txt_function{
    color: #66D9E2;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 23px;
}
.txt_llave{
    color: white;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
}.txt_llaveEsc{
    color: white;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
    margin-top: 36px;
}
.comillas{
    color: #Fb971f;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
}
.parentesis{
    color: white;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
}
.parrafo_conocimientos{
    color: white;
    font-family: code;
    font-size: 16px;
}
.if{
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
    color: #EC2658; 
}
#frase h1{
    color: #EC2658;
    font-family: code;
   font-size: 12px;
}
.amarillo{
    color: #E6DB74 !important;
}
.verde{
    color: #A6E22E !important;
}
.naranja{
    color:#Fb971f!important ;
}
.blanco{
    color: white !important;
}
.grisclaro{
    color: #42433E;
}
.certificado img{
    width: 60%;
}
.altura_certificado{
height: 222px;
}
.redes{
    padding: 30px;
}
.margen_tecnologia{
    margin-top: 50px;
}
.separador{
    color: #EC2658;
   
}
.true{
    color: #66D9E2;
}
.log{
    color: #66D9E2;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
}
.comentarioSaberes{
    margin-top: 15px;
}
.tituloEstudios{
    margin-top: 36px;
}
.tituloEspacio{
    margin-top: 27px;
}
.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 35px;
    display: block;
    color: white!important;
    padding: 0.3rem 1rem;
    transition: all 0.5s linear;
    cursor: pointer;
    opacity: 0.3;
    color: white;
    font-size: 45px;
  }
  
    .back-to-top:hover {
      opacity: 1;
    }

 #menu li:hover .iconlateral{
    color: black;
}
.animacionTop{
 
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
.animacionFoto{
    animation:rotateInUpLeft;
    animation-duration: 1s;
 
 
}
.fotoensa{
    opacity: 0;
    animation:flipOutY;
    animation-duration: 1s;
}
.mostrar{
    animation:flipInY;
  animation-duration: 1s;
  opacity: 1;
}

.animacionP2{
    opacity: 0;
    animation:fadeOutRight;
    animation-duration: 1s;
}
.mostrar2{
    animation:fadeInRight;
  animation-duration: 1s;
  opacity: 1;
}
.redes img:hover{
    animation:bounce;
    animation-duration: 1s;
}
.animacionCerti{
    opacity: 0;
    animation:fadeOut;
    animation-duration: 1s;
    transition: all 200ms ease-in;
}
.mostrar3{
    animation:fadein;
  animation-duration: 1s;
  opacity: 1;
  transition: all 200ms ease-in;
}
#estudios{
    margin-top: 107px;
}
#proyectos{
    margin-top: 180px;
}
.pie{
    background-color: #ABB1BA;
    height: 25px;
    position: fixed;
width: 100%;
bottom: 0;
z-index:2000;
}
.iconpc{
  
  font-family: websymbolsRegular;
  font-size: 13px;
  margin-right: 11px;
  margin-left: 8px;
  line-height: 25px;
  color: #66696f;
}
.pie h4{
    font-size: 13px;
    font-family: code;
    line-height: 25px;
    color: #66696f;
}
.barra_baja{
    margin-left: 56px;
}