/* FUENTES */

@font-face{
    font-family: "code";
    src: url(./fonts/SourceCodePro-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "indie";
    src: url(./fonts/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0px;
    padding: 0px;
}

.lateral{
    background-color: #EBEDEF;
    height: 100vh;
}
.principal{
    background-color:#282923;
    height: auto;
  /*   margin-left: 225px; */
}

.barra{
    background-color: #6D6E6A;
    height: 50px;
}
.pestaña{
   background-color: red; 
  
}
#contenido p{
    color: white;
}
.container h1{
    font-family: code;
    
}
#menu{
    margin-top: 40px;
}
#menu a{
    font-family: code;
    color: black;
    margin-left: 15px;
    text-decoration: none;
}

#menu li{
list-style: none;
margin-top: 30px;
}
.iconos_lateral{
    width: 20px;
    height: 15px;
}
#contenido{
   background-image: url(./img/imgPrincipal-min.jpg); 
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-top: 40px; 
}
#info-personal{
   /*  background-color: blue; */
    height: auto;
    margin-top: 50px;
}
/* .numeros{
    background-color: pink;
    height: 200px;
     width: 20px; 
     margin-right: 15px; 
} */
.barra_numeros{
height: auto;
width: 30px;
background-color:#282923;
color: #90918B;
}
.dos{
height: auto;
background-color:#282923;

}
#todo{
    height: auto;
    background-color:#282923;
}

.blu{
  /*   width: 960px; */
    margin: 0px auto;
    text-align: center;
   margin-top: 300px;
   /*  align-items: center;
    display: grid; */
    align-items: center;
  font-family: code;
  color: white;
 
}
.blu2{
    /*   width: 960px; */
      margin: 0px auto;
      text-align: center;
     margin-top: 10px;
     /*  align-items: center;
      display: grid; */
      align-items: center;
    font-family: code;
    color: white;
   
  }
.blu h1{
    font-size: 30px;
}
.blu2 h1{
    font-size: 30px;
}
.code1 h2{
    color: white;
    font-size: 16px;
    opacity: 0.2;
    font-weight: lighter;
}
.circulo>img{
    width: 300px;
    height: 340px;
    border-radius: 50%;
 /*    background-size: cover; */
    margin: 0px auto;
    margin-top: 50px;
  /*   border: 1px solid #E6DB74; */
  border: 1px solid #A6E22E;
    padding: 4px;
   
}
.personal{
    height: auto;
    text-align: center !important;
}
.infopersonal{
    height: auto;
    color: white;
    margin: 0px auto;
    margin-top: 20px;
    font-family: code;
}
.hi{
    color: #EC2658;
}
#conocimientos{
    margin-top: 50px;
    height: auto;
}
.tecnologias img{
   /*  height: auto; */
   text-align: center;
   margin: 0px auto;
}
.card:hover{
    box-shadow: 0 0 10px #EC2658;
}
.tecnologias img:hover{
    box-shadow: 0 0 10px #EC2658;
}
.titulos_conocimientos{
    color: white;
    font-family: code;
    font-size: 25px;
   /*  text-transform: uppercase; */
}
.txt_function{
    color: #66D9E2;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
}
.comillas{
    color: #Fb971f;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
}
.parentesis{
    color: white;
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
}
.parrafo_conocimientos{
    color: white;
    font-family: code;
    font-size: 20px;
}
.if{
    font-family: code;
    font-size: 16px;
    opacity: 0.5;
    color: #EC2658; 
}
#frase h1{
    color: #EC2658;
    font-family: code;
   font-size: 12px;
}
.amarillo{
    color: #E6DB74 !important;
}
.verde{
    color: #A6E22E !important;
}
.naranja{
    color:#Fb971f!important ;
}
.blanco{
    color: white !important;
}
.certificado img{
    width: 60%;
}
.altura_certificado{
height: 222px;
}
.redes{
    padding: 30px;
}
.margen_tecnologia{
    margin-top: 50px;
}